<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.example.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.example.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLesson</servlet-name>
        <servlet-class>com.example.servlet.CreateLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendance</servlet-name>
        <servlet-class>com.example.servlet.UpdateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllLesson</servlet-name>
        <servlet-class>com.example.servlet.GetAllLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAttendance</servlet-name>
        <servlet-class>com.example.servlet.CreateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLoginStatus</servlet-name>
        <servlet-class>com.example.servlet.GetLoginStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLessonById</servlet-name>
        <servlet-class>com.example.servlet.GetLessonById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseById</servlet-name>
        <servlet-class>com.example.servlet.GetCourseById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAttendance</servlet-name>
        <servlet-class>com.example.servlet.GetAllAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAttendanceById</servlet-name>
        <servlet-class>com.example.servlet.GetAttendanceById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeacherByCourseId</servlet-name>
        <servlet-class>com.example.servlet.GetTeacherByCourseId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseByTeacherId</servlet-name>
        <servlet-class>com.example.servlet.GetCourseByTeacherId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAttendanceByLessonId</servlet-name>
        <servlet-class>com.example.servlet.GetAttendanceByLessonId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStudents</servlet-name>
        <servlet-class>com.example.servlet.GetAllStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLesson</servlet-name>
        <servlet-class>com.example.servlet.UpdateLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserAttendance</servlet-name>
        <servlet-class>com.example.servlet.GetUserAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLesson</servlet-name>
        <url-pattern>/CreateLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendance</servlet-name>
        <url-pattern>/UpdateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllLesson</servlet-name>
        <url-pattern>/GetAllLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAttendance</servlet-name>
        <url-pattern>/CreateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLoginStatus</servlet-name>
        <url-pattern>/GetLoginStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLessonById</servlet-name>
        <url-pattern>/GetLessonById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseById</servlet-name>
        <url-pattern>/GetCourseById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAttendance</servlet-name>
        <url-pattern>/GetAllAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttendanceById</servlet-name>
        <url-pattern>/GetAttendanceById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTeacherByCourseId</servlet-name>
        <url-pattern>/GetTeacherByCourseId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseByTeacherId</servlet-name>
        <url-pattern>/GetCourseByTeacherId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttendanceByLessonId</servlet-name>
        <url-pattern>/GetAttendanceByLessonId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStudents</servlet-name>
        <url-pattern>/GetAllStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLesson</servlet-name>
        <url-pattern>/UpdateLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserAttendance</servlet-name>
        <url-pattern>/GetUserAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
